In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('GOOG.csv', date_parser = True)
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4175,2021-03-22,2041.839966,2057.989990,2026.069946,2038.589966,2038.589966,1954800
4176,2021-03-23,2051.699951,2072.302002,2039.219971,2052.959961,2052.959961,1367000
4177,2021-03-24,2065.370117,2078.209961,2041.555054,2045.060059,2045.060059,1154000
4178,2021-03-25,2044.810059,2058.870117,2010.729980,2044.359985,2044.359985,1418900
4179,2021-03-26,2038.859985,2050.989990,2014.020020,2035.550049,2035.550049,1493500

In [3]:
data_training = data[data['Date']<'2021-01-01'].copy()
data_training

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.813290,51.835709,47.800831,49.982655,49.982655,44871361
1,2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942874
2,2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342897
3,2004-08-24,55.412300,55.591629,51.591621,52.239197,52.239197,15319808
4,2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232276
...,...,...,...,...,...,...,...
4117,2020-12-24,1735.000000,1746.000000,1729.109985,1738.849976,1738.849976,346800
4118,2020-12-28,1751.635010,1790.728027,1746.334961,1776.089966,1776.089966,1393000
4119,2020-12-29,1787.790039,1792.439941,1756.089966,1758.719971,1758.719971,1299400
4120,2020-12-30,1762.010010,1765.094971,1725.599976,1739.520020,1739.520020,1306100
4121,2020-12-31,1735.420044,1758.930054,1735.420044,1751.880005,1751.880005,1011900

In [4]:
data_test = data[data['Date']>='2021-01-01'].copy()
data_test

,Date,Open,High,Low,Close,Adj Close,Volume
4122,2021-01-04,1757.540039,1760.650024,1707.849976,1728.239990,1728.239990,1901900
4123,2021-01-05,1725.000000,1747.670044,1718.015015,1740.920044,1740.920044,1145300
4124,2021-01-06,1702.630005,1748.000000,1699.000000,1735.290039,1735.290039,2602100
4125,2021-01-07,1740.060059,1788.400024,1737.050049,1787.250000,1787.250000,2265000
4126,2021-01-08,1787.979980,1809.839966,1773.535034,1807.209961,1807.209961,2050600
4127,2021-01-11,1786.069946,1794.314941,1760.520020,1766.719971,1766.719971,1209700
4128,2021-01-12,1753.920044,1778.040039,1725.310059,1746.550049,1746.550049,1357700
4129,2021-01-13,1738.579956,1765.035034,1738.010010,1754.400024,1754.400024,1094100
4130,2021-01-14,1753.619995,1775.010010,1733.400024,1740.180054,1740.180054,1179500
4131,2021-01-15,1738.189941,1756.000000,1721.550049,1736.189941,1736.189941,1342200
4132,2021-01-19,1752.250000,1809.275024,1741.459961,1790.859985,1790.859985,1734600
4133,2021-01-20,1831.459961,1903.709961,1825.530029,1886.900024,1886.900024,2490300
4134,2021-01-21,1898.000000,1934.859985,1887.109985,1891.250000,1891.250000,2063900
4135,2021-01-22,1895.680054,1910.949951,1881.760010,1901.050049,1901.050049,1272100
4136,2021-01-25,1920.670044,1929.579956,1867.530029,1899.400024,1899.400024,1927300
4137,2021-01-26,1888.839966,1925.000000,1884.244995,1917.239990,1917.239990,1313100
4138,2021-01-27,1882.530029,1890.000000,1809.000000,1830.790039,1830.790039,2748300
4139,2021-01-28,1843.939941,1898.829956,1842.640015,1863.109985,1863.109985,1773100
4140,2021-01-29,1846.170044,1857.280029,1810.199951,1835.739990,1835.739990,1612600
4141,2021-02-01,1853.569946,1922.391968,1850.930054,1901.349976,1901.349976,1602200
4142,2021-02-02,1922.560059,1955.760010,1914.489990,1927.510010,1927.510010,2273700
4143,2021-02-03,2073.000000,2116.500000,2018.380005,2070.070068,2070.070068,4118200
4144,2021-02-04,2068.889893,2078.550049,2042.589966,2062.370117,2062.370117,1852300
4145,2021-02-05,2070.000000,2102.510010,2059.330078,2098.000000,2098.000000,1533900
4146,2021-02-08,2105.909912,2123.547119,2072.000000,2092.909912,2092.909912,1241900
4147,2021-02-09,2078.540039,2105.129883,2078.540039,2083.510010,2083.510010,889900
4148,2021-02-10,2094.209961,2108.370117,2063.090088,2095.379883,2095.379883,1135500
4149,2021-02-11,2099.510010,2102.030029,2077.320068,2095.889893,2095.889893,945200
4150,2021-02-12,2090.250000,2108.820068,2083.129883,2104.110107,2104.110107,855700
4151,2021-02-16,2104.360107,2152.679932,2104.360107,2121.899902,2121.899902,1133800
4152,2021-02-17,2100.000000,2133.659912,2098.919922,2128.310059,2128.310059,1070900
4153,2021-02-18,2110.389893,2132.735107,2103.709961,2117.199951,2117.199951,1121600
4154,2021-02-19,2119.270020,2130.530029,2097.409912,2101.139893,2101.139893,1457400
4155,2021-02-22,2067.000000,2091.419922,2062.139893,2064.879883,2064.879883,1367500
4156,2021-02-23,2025.010010,2082.010010,2002.020020,2070.860107,2070.860107,1667400
4157,2021-02-24,2041.829956,2100.780029,2038.130005,2095.169922,2095.169922,1248300
4158,2021-02-25,2067.449951,2094.879883,2021.290039,2031.359985,2031.359985,1828400
4159,2021-02-26,2050.520020,2071.010010,2016.060059,2036.859985,2036.859985,2083500
4160,2021-03-01,2056.520020,2086.520020,2046.099976,2081.510010,2081.510010,1404500
4161,2021-03-02,2076.189941,2104.370117,2071.260010,2075.840088,2075.840088,1133600
4162,2021-03-03,2067.209961,2088.518066,2010.000000,2026.709961,2026.709961,1483100
4163,2021-03-04,2023.369995,2089.239990,2020.270020,2049.090088,2049.090088,2116100
4164,2021-03-05,2073.120117,2118.110107,2046.415039,2108.540039,2108.540039,2193800
4165,2021-03-08,2101.129883,2128.810059,2021.609985,2024.170044,2024.170044,1646000
4166,2021-03-09,2070.000000,2078.040039,2047.829956,2052.699951,2052.699951,1696400
4167,2021-03-10,2071.760010,2075.000000,2033.369995,2055.030029,2055.030029,1267800
4168,2021-03-11,2074.060059,2125.699951,2072.379883,2114.770020,2114.770020,1238300
4169,2021-03-12,2085.000000,2090.260010,2047.550049,2061.919922,2061.919922,1725000
4170,2021-03-15,2062.300049,2067.060059,2043.510010,2066.489990,2066.489990,1298100
4171,2021-03-16,2078.989990,2123.560059,2070.000000,2092.520020,2092.520020,1490600
4172,2021-03-17,2076.030029,2109.780029,2054.000000,2091.080078,2091.080078,1297500
4173,2021-03-18,2061.000000,2075.500000,2033.550049,2036.219971,2036.219971,1361400
4174,2021-03-19,2042.050049,2053.100098,2017.680054,2043.199951,2043.199951,2314400
4175,2021-03-22,2041.839966,2057.989990,2026.069946,2038.589966,2038.589966,1954800
4176,2021-03-23,2051.699951,2072.302002,2039.219971,2052.959961,2052.959961,1367000
4177,2021-03-24,2065.370117,2078.209961,2041.555054,2045.060059,2045.060059,1154000
4178,2021-03-25,2044.810059,2058.870117,2010.729980,2044.359985,2044.359985,1418900
4179,2021-03-26,2038.859985,2050.989990,2014.020020,2035.550049,2035.550049,1493500

In [5]:
training_data = data_training.drop(['Date', 'Adj Close'], axis = 1)
training_data.head()

        Open       High        Low      Close    Volume
0  49.813290  51.835709  47.800831  49.982655  44871361
1  50.316402  54.336334  50.062355  53.952770  22942874
2  55.168217  56.528118  54.321388  54.495735  18342897
3  55.412300  55.591629  51.591621  52.239197  15319808
4  52.284027  53.798351  51.746044  52.802086   9232276

In [6]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[2.27303632e-04, 6.43283156e-04, 0.00000000e+00, 9.24472018e-05,
        5.43577158e-01],
       [5.10729413e-04, 2.03521039e-03, 1.27420629e-03, 2.32514214e-03,
        2.77885876e-01],
       [3.24397659e-03, 3.25522693e-03, 3.67386538e-03, 2.63049229e-03,
        2.22151352e-01],
       ...,
       [9.79308338e-01, 9.69518841e-01, 9.62498190e-01, 9.61044247e-01,
        1.56478852e-02],
       [9.64785280e-01, 9.54297762e-01, 9.45319271e-01, 9.50246667e-01,
        1.57290641e-02],
       [9.49805947e-01, 9.50866174e-01, 9.50852174e-01, 9.57197618e-01,
        1.21644600e-02]])

In [7]:
X_train = []
y_train = []

In [8]:
training_data.shape[0]

4122

In [9]:
for i in range(60, training_data.shape[0]):
    X_train.append(training_data[i-60:i])
    y_train.append(training_data[i, 0])

In [10]:
X_train, y_train = np.array(X_train), np.array(y_train)

In [11]:
X_train.shape, y_train.shape

((4062, 60, 5), (4062,))

In [17]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [45]:
model = Sequential()
model.add(LSTM(units = 10, activation = 'relu', return_sequences = True, input_shape = (X_train.shape[1], 5)))
model.add(Dropout(0.2))

model.add(LSTM(units = 10, activation = 'relu', return_sequences = True))
model.add(Dropout(0.3))

model.add(LSTM(units = 10, activation = 'relu', return_sequences = True))
model.add(Dropout(0.4))

model.add(LSTM(units = 10, activation = 'relu'))
model.add(Dropout(0.5))


model.add(Dense(units=1))

In [46]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 60, 10)            640
_________________________________________________________________
dropout_4 (Dropout)          (None, 60, 10)            0
_________________________________________________________________
lstm_5 (LSTM)                (None, 60, 10)            840
_________________________________________________________________
dropout_5 (Dropout)          (None, 60, 10)            0
_________________________________________________________________
lstm_6 (LSTM)                (None, 60, 10)            840
_________________________________________________________________
dropout_6 (Dropout)          (None, 60, 10)            0
_________________________________________________________________
lstm_7 (LSTM)                (None, 10)                840
_________________________________________________________________
dropout_7 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 3,171
Trainable params: 3,171
Non-trainable params: 0
_________________________________________________________________

In [47]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [48]:
model.fit(X_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
4062/4062 [==============================] - 30s 7ms/step - loss: 0.0696
Epoch 2/10
4062/4062 [==============================] - 27s 7ms/step - loss: 0.0239
Epoch 3/10
4062/4062 [==============================] - 25s 6ms/step - loss: 0.0176
Epoch 4/10
4062/4062 [==============================] - 25s 6ms/step - loss: 0.0155
Epoch 5/10
4062/4062 [==============================] - 28s 7ms/step - loss: 0.0135
Epoch 6/10
4062/4062 [==============================] - 26s 6ms/step - loss: 0.0134
Epoch 7/10
4062/4062 [==============================] - 21s 5ms/step - loss: 0.0135
Epoch 8/10
4062/4062 [==============================] - 22s 5ms/step - loss: 0.0121
Epoch 9/10
4062/4062 [==============================] - 25s 6ms/step - loss: 0.0119
Epoch 10/10
4062/4062 [==============================] - 27s 7ms/step - loss: 0.0115

In [65]:
data_test.head()

,Date,Open,High,Low,Close,Adj Close,Volume
4122,2021-01-04,1757.540039,1760.650024,1707.849976,1728.239990,1728.239990,1901900
4123,2021-01-05,1725.000000,1747.670044,1718.015015,1740.920044,1740.920044,1145300
4124,2021-01-06,1702.630005,1748.000000,1699.000000,1735.290039,1735.290039,2602100
4125,2021-01-07,1740.060059,1788.400024,1737.050049,1787.250000,1787.250000,2265000
4126,2021-01-08,1787.979980,1809.839966,1773.535034,1807.209961,1807.209961,2050600

In [66]:
data_training.tail(60)

,Date,Open,High,Low,Close,Adj Close,Volume
4062,2020-10-07,1464.290039,1468.959961,1436.000000,1460.290039,1460.290039,1746200
4063,2020-10-08,1465.089966,1490.000000,1465.089966,1485.930054,1485.930054,1187800
4064,2020-10-09,1494.699951,1516.520020,1489.449951,1515.219971,1515.219971,1435300
4065,2020-10-12,1543.000000,1593.859985,1532.569946,1569.150024,1569.150024,2482600
4066,2020-10-13,1583.729980,1590.000000,1563.199951,1571.680054,1571.680054,1601000
4067,2020-10-14,1578.589966,1587.683960,1550.530029,1568.079956,1568.079956,1929300
4068,2020-10-15,1547.150024,1575.104980,1545.030029,1559.130005,1559.130005,1540000
4069,2020-10-16,1565.849976,1581.130005,1563.000000,1573.010010,1573.010010,1434700
4070,2020-10-19,1580.459961,1588.150024,1528.000000,1534.609985,1534.609985,1607100
4071,2020-10-20,1527.050049,1577.500000,1525.670044,1555.930054,1555.930054,2241700
4072,2020-10-21,1573.329956,1618.729980,1571.630005,1593.310059,1593.310059,2568300
4073,2020-10-22,1593.050049,1621.989990,1585.000000,1615.329956,1615.329956,1433600
4074,2020-10-23,1626.069946,1642.359985,1620.510010,1641.000000,1641.000000,1375800
4075,2020-10-26,1625.010010,1638.239990,1576.500000,1590.449951,1590.449951,1853300
4076,2020-10-27,1595.670044,1606.844971,1582.780029,1604.260010,1604.260010,1229000
4077,2020-10-28,1559.739990,1561.349976,1514.619995,1516.619995,1516.619995,1834000
4078,2020-10-29,1522.359985,1593.709961,1522.239990,1567.239990,1567.239990,2003100
4079,2020-10-30,1672.109985,1687.000000,1604.459961,1621.010010,1621.010010,4329100
4080,2020-11-02,1628.160034,1660.770020,1616.030029,1626.030029,1626.030029,2535400
4081,2020-11-03,1631.780029,1661.699951,1616.619995,1650.209961,1650.209961,1661700
4082,2020-11-04,1710.280029,1771.364990,1706.030029,1749.130005,1749.130005,3570900
4083,2020-11-05,1781.000000,1793.640015,1750.510010,1763.369995,1763.369995,2065800
4084,2020-11-06,1753.949951,1772.430054,1740.349976,1761.750000,1761.750000,1660900
4085,2020-11-09,1790.900024,1818.060059,1760.020020,1763.000000,1763.000000,2268300
4086,2020-11-10,1731.089966,1763.000000,1717.300049,1740.390015,1740.390015,2636100
4087,2020-11-11,1750.000000,1764.219971,1747.364990,1752.709961,1752.709961,1264000
4088,2020-11-12,1747.630005,1768.270020,1745.599976,1749.839966,1749.839966,1247500
4089,2020-11-13,1757.630005,1781.040039,1744.550049,1777.020020,1777.020020,1499900
4090,2020-11-16,1771.699951,1799.069946,1767.689941,1781.380005,1781.380005,1246800
4091,2020-11-17,1776.939941,1785.000000,1767.000000,1770.150024,1770.150024,1147100
4092,2020-11-18,1765.229980,1773.469971,1746.140015,1746.780029,1746.780029,1173500
4093,2020-11-19,1738.380005,1769.589966,1737.005005,1763.920044,1763.920044,1249900
4094,2020-11-20,1765.209961,1774.000000,1741.859985,1742.189941,1742.189941,2313500
4095,2020-11-23,1749.599976,1753.900024,1717.719971,1734.859985,1734.859985,2161600
4096,2020-11-24,1730.500000,1771.599976,1727.689941,1768.880005,1768.880005,1578000
4097,2020-11-25,1772.890015,1778.540039,1756.540039,1771.430054,1771.430054,1045800
4098,2020-11-27,1773.089966,1804.000000,1772.439941,1793.189941,1793.189941,884900
4099,2020-11-30,1781.183960,1788.064941,1755.000000,1760.739990,1760.739990,1823800
4100,2020-12-01,1774.369995,1824.829956,1769.369995,1798.099976,1798.099976,1739000
4101,2020-12-02,1798.099976,1835.650024,1789.473022,1827.949951,1827.949951,1222000
4102,2020-12-03,1824.010010,1847.199951,1822.650024,1826.770020,1826.770020,1227300
4103,2020-12-04,1824.520020,1833.160034,1816.989990,1827.989990,1827.989990,1378200
4104,2020-12-07,1819.000000,1832.369995,1805.780029,1819.479980,1819.479980,1320900
4105,2020-12-08,1810.099976,1821.900024,1796.204956,1818.550049,1818.550049,1096300
4106,2020-12-09,1812.010010,1834.270020,1767.810059,1784.130005,1784.130005,1507600
4107,2020-12-10,1769.800049,1781.310059,1740.319946,1775.329956,1775.329956,1362800
4108,2020-12-11,1763.060059,1784.449951,1760.000000,1781.770020,1781.770020,1220700
4109,2020-12-14,1775.000000,1797.390015,1757.214966,1760.060059,1760.060059,1600200
4110,2020-12-15,1764.420044,1771.420044,1749.949951,1767.770020,1767.770020,1482300
4111,2020-12-16,1772.880005,1773.000000,1756.079956,1763.000000,1763.000000,1513500
4112,2020-12-17,1768.510010,1771.784058,1738.660034,1747.900024,1747.900024,1624700
4113,2020-12-18,1754.180054,1755.109985,1720.219971,1731.010010,1731.010010,4016400
4114,2020-12-21,1713.510010,1740.849976,1699.000000,1739.369995,1739.369995,1828400
4115,2020-12-22,1734.430054,1737.405029,1712.574951,1723.500000,1723.500000,936700
4116,2020-12-23,1728.109985,1747.989990,1725.040039,1732.380005,1732.380005,1033800
4117,2020-12-24,1735.000000,1746.000000,1729.109985,1738.849976,1738.849976,346800
4118,2020-12-28,1751.635010,1790.728027,1746.334961,1776.089966,1776.089966,1393000
4119,2020-12-29,1787.790039,1792.439941,1756.089966,1758.719971,1758.719971,1299400
4120,2020-12-30,1762.010010,1765.094971,1725.599976,1739.520020,1739.520020,1306100
4121,2020-12-31,1735.420044,1758.930054,1735.420044,1751.880005,1751.880005,1011900

In [67]:
past_60_days = data_training.tail(60)

In [68]:
df = past_60_days.append(data_test, ignore_index = True)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-10-07,1464.290039,1468.959961,1436.000000,1460.290039,1460.290039,1746200
1,2020-10-08,1465.089966,1490.000000,1465.089966,1485.930054,1485.930054,1187800
2,2020-10-09,1494.699951,1516.520020,1489.449951,1515.219971,1515.219971,1435300
3,2020-10-12,1543.000000,1593.859985,1532.569946,1569.150024,1569.150024,2482600
4,2020-10-13,1583.729980,1590.000000,1563.199951,1571.680054,1571.680054,1601000
...,...,...,...,...,...,...,...
113,2021-03-22,2041.839966,2057.989990,2026.069946,2038.589966,2038.589966,1954800
114,2021-03-23,2051.699951,2072.302002,2039.219971,2052.959961,2052.959961,1367000
115,2021-03-24,2065.370117,2078.209961,2041.555054,2045.060059,2045.060059,1154000
116,2021-03-25,2044.810059,2058.870117,2010.729980,2044.359985,2044.359985,1418900
117,2021-03-26,2038.859985,2050.989990,2014.020020,2035.550049,2035.550049,1493500

In [69]:
df = df.drop(['Date', 'Adj Close'], axis = 1)
df.head()

          Open         High          Low        Close   Volume
0  1464.290039  1468.959961  1436.000000  1460.290039  1746200
1  1465.089966  1490.000000  1465.089966  1485.930054  1187800
2  1494.699951  1516.520020  1489.449951  1515.219971  1435300
3  1543.000000  1593.859985  1532.569946  1569.150024  2482600
4  1583.729980  1590.000000  1563.199951  1571.680054  1601000

In [70]:
inputs = scaler.transform(df)
inputs

array([[0.79706613, 0.78945962, 0.78215049, 0.7932146 , 0.02106143],
       [0.79751677, 0.80117117, 0.7985406 , 0.80763391, 0.01429571],
       [0.81419741, 0.81593306, 0.8122657 , 0.82410584, 0.01729449],
       [0.84140702, 0.85898293, 0.83656072, 0.85443478, 0.02998385],
       [0.86435206, 0.85683434, 0.85381852, 0.8558576 , 0.01930215],
       [0.86145646, 0.85554516, 0.84667993, 0.853833  , 0.02327992],
       [0.84374492, 0.8485433 , 0.84358108, 0.84879976, 0.01856306],
       [0.85427945, 0.85189702, 0.85370587, 0.85660554, 0.01728722],
       [0.86250991, 0.85580459, 0.83398588, 0.83501031, 0.01937606],
       [0.83242169, 0.84987645, 0.83267312, 0.84700019, 0.02706504],
       [0.85849326, 0.87282636, 0.85856825, 0.86802178, 0.03102221],
       [0.86960248, 0.87464099, 0.86610129, 0.88040523, 0.01727389],
       [0.88820408, 0.88597957, 0.88610863, 0.89484143, 0.01657357],
       [0.88760697, 0.88368625, 0.86131215, 0.86641333, 0.02235908],
       [0.87107844, 0.86621079, 0.86485049, 0.87417977, 0.0147949 ],
       [0.85083741, 0.84088683, 0.82644721, 0.82489318, 0.02212524],
       [0.82977956, 0.85889943, 0.83074053, 0.85336062, 0.0241741 ],
       [0.91414052, 0.91082762, 0.87706558, 0.88359955, 0.05235652],
       [0.88938152, 0.89622718, 0.88358448, 0.88642269, 0.03062358],
       [0.89142083, 0.89674481, 0.88391688, 0.90002089, 0.02003761],
       [0.93564344, 0.95778785, 0.93429301, 0.95565109, 0.04316997],
       [0.9754832 , 0.97018684, 0.95935429, 0.96365931, 0.02493379],
       [0.96024468, 0.9583807 , 0.95362984, 0.96274826, 0.02002791],
       [0.98106033, 0.98377981, 0.96471249, 0.96345123, 0.02738733],
       [0.94736662, 0.95313164, 0.94064286, 0.95073593, 0.03184369],
       [0.9580195 , 0.95381071, 0.95758229, 0.95766436, 0.01521897],
       [0.95668437, 0.9560651 , 0.95658783, 0.95605035, 0.01501905],
       [0.96231782, 0.96317329, 0.95599628, 0.97133574, 0.0180772 ],
       [0.97024406, 0.97320931, 0.96903394, 0.97378769, 0.01501057],
       [0.97319599, 0.96537753, 0.96864521, 0.96747223, 0.01380258],
       [0.96659923, 0.95895955, 0.95689211, 0.95432952, 0.01412245],
       [0.95147343, 0.95679982, 0.95174519, 0.96396864, 0.01504813],
       [0.96658796, 0.95925458, 0.95448062, 0.95174816, 0.02793499],
       [0.95779415, 0.9480663 , 0.94087945, 0.94762598, 0.02609453],
       [0.94703426, 0.95791865, 0.94649682, 0.966758  , 0.01902348],
       [0.97091448, 0.96178171, 0.96275177, 0.96819208, 0.0125752 ],
       [0.97102712, 0.97595354, 0.97171023, 0.98042931, 0.01062569],
       [0.97558683, 0.96708358, 0.96188407, 0.96218026, 0.02200165],
       [0.97174822, 0.98754815, 0.96998053, 0.98319059, 0.02097419],
       [0.98511639, 0.99357094, 0.98130714, 0.99997748, 0.01471009],
       [0.99971269, 1.        , 1.        , 0.99931392, 0.0147743 ],
       [1.        , 0.99218494, 0.99681098, 1.        , 0.01660265],
       [0.99689032, 0.99174518, 0.99049497, 0.99521418, 0.01590838],
       [0.99187654, 0.98591726, 0.9851001 , 0.99469121, 0.01318707],
       [0.99295254, 0.99280279, 0.96910162, 0.97533422, 0.01817049],
       [0.96917376, 0.96332359, 0.95361292, 0.97038529, 0.01641606],
       [0.96537682, 0.96507136, 0.96470121, 0.97400703, 0.01469434],
       [0.97210313, 0.97227421, 0.96313205, 0.96179788, 0.01929246],
       [0.96614296, 0.9578185 , 0.95903873, 0.96613377, 0.01786395],
       [0.97090884, 0.95869795, 0.96249255, 0.96345123, 0.01824198],
       [0.96844702, 0.95802112, 0.95267768, 0.95495937, 0.01958931],
       [0.96037431, 0.9487398 , 0.94228802, 0.94546085, 0.04856777],
       [0.93746303, 0.94080223, 0.9303321 , 0.9501623 , 0.02205739],
       [0.94924824, 0.93888466, 0.93798061, 0.9412374 , 0.01125332],
       [0.94568786, 0.94477659, 0.94500379, 0.9462313 , 0.01242981],
       [0.94956932, 0.9436689 , 0.94729691, 0.94986985, 0.00410593],
       [0.95894057, 0.96856593, 0.95700195, 0.9708127 , 0.01678197],
       [0.97930834, 0.96951884, 0.96249819, 0.96104425, 0.01564789],
       [0.96478528, 0.95429776, 0.94531927, 0.95024667, 0.01572906],
       [0.94980595, 0.95086617, 0.95085217, 0.95719762, 0.01216446],
       [0.96226714, 0.95182356, 0.93531842, 0.94390306, 0.02294793],
       [0.94393586, 0.94459849, 0.94104569, 0.95103401, 0.01378077],
       [0.93133383, 0.94478216, 0.9303321 , 0.94786783, 0.03143174],
       [0.95241988, 0.96727009, 0.95177056, 0.97708883, 0.02734735],
       [0.97941534, 0.97920425, 0.97232723, 0.98831382, 0.02474962],
       [0.97833933, 0.97056253, 0.96499421, 0.96554325, 0.01456106],
       [0.96022784, 0.9615034 , 0.94515592, 0.95420018, 0.01635426],
       [0.95158607, 0.9542644 , 0.95231143, 0.95861481, 0.01316042],
       [0.9600588 , 0.95981679, 0.94971404, 0.95061785, 0.01419515],
       [0.95136636, 0.94923521, 0.94303743, 0.94837391, 0.01616646],
       [0.95928702, 0.97888978, 0.95425523, 0.979119  , 0.02092088],
       [1.00390958, 1.03145527, 1.00162268, 1.03312955, 0.03007714],
       [1.0413946 , 1.04879436, 1.03631856, 1.03557587, 0.02491077],
       [1.04008767, 1.03548527, 1.03330423, 1.04108718, 0.01531711],
       [1.05416566, 1.04585533, 1.02528666, 1.04015925, 0.02325569],
       [1.03623434, 1.04330598, 1.03470434, 1.050192  , 0.01581388],
       [1.03267967, 1.02382387, 0.99230919, 1.00157468, 0.03320314],
       [1.01094012, 1.0287389 , 1.01126292, 1.01975062, 0.02138736],
       [1.01219644, 1.00561089, 0.99298528, 1.00435841, 0.0194427 ],
       [1.01636514, 1.04185426, 1.01593377, 1.04125585, 0.01931669],
       [1.0552304 , 1.06042797, 1.05174522, 1.05596761, 0.02745276],
       [1.13998003, 1.14990095, 1.11027978, 1.13613988, 0.0498012 ],
       [1.13766462, 1.12877681, 1.12392035, 1.13180961, 0.02234697],
       [1.13828999, 1.14211368, 1.13335221, 1.15184698, 0.01848915],
       [1.15851967, 1.1538236 , 1.1404908 , 1.14898444, 0.0149512 ],
       [1.14310098, 1.14357199, 1.14417564, 1.14369817, 0.01068628],
       [1.15192856, 1.1453756 , 1.1354707 , 1.15037349, 0.01366203],
       [1.15491432, 1.14184651, 1.14348827, 1.15066031, 0.01135631],
       [1.14969774, 1.14562606, 1.14676169, 1.15528316, 0.0102719 ],
       [1.1576466 , 1.17003985, 1.15872339, 1.1652877 , 0.01364143],
       [1.15519035, 1.15945271, 1.15565824, 1.16889261, 0.01287932],
       [1.16104345, 1.15893793, 1.15835708, 1.16264456, 0.01349361],
       [1.16604603, 1.15771051, 1.15480746, 1.15361278, 0.01756225],
       [1.13659996, 1.13594059, 1.13493533, 1.13322104, 0.016473  ],
       [1.11294509, 1.13070273, 1.10106211, 1.13658417, 0.02010667],
       [1.12242053, 1.14115072, 1.12140749, 1.15025542, 0.01502874],
       [1.13685344, 1.13786651, 1.11191938, 1.11437028, 0.02205739],
       [1.12731604, 1.12457978, 1.10897266, 1.11746334, 0.02514825],
       [1.13069611, 1.13321315, 1.12589799, 1.14257342, 0.0169213 ],
       [1.14177707, 1.14314908, 1.14007386, 1.13938479, 0.01363901],
       [1.13671824, 1.13432532, 1.10555825, 1.11175522, 0.01787364],
       [1.1120212 , 1.13472717, 1.11134467, 1.12434125, 0.02554324],
       [1.1400477 , 1.15079719, 1.12607551, 1.15777444, 0.02648467],
       [1.15582687, 1.15675312, 1.11209964, 1.11032683, 0.01984738],
       [1.13828999, 1.12849292, 1.12687271, 1.12637135, 0.02045804],
       [1.13928149, 1.12680074, 1.11872556, 1.12768173, 0.01526501],
       [1.14057721, 1.15502194, 1.14070483, 1.16127803, 0.01490758],
       [1.14674017, 1.13529494, 1.12671501, 1.13155643, 0.02080457],
       [1.13395226, 1.12238111, 1.12443873, 1.13412653, 0.01563213],
       [1.14335446, 1.15383081, 1.13936394, 1.14876518, 0.01796451],
       [1.14168698, 1.1461604 , 1.13034909, 1.14795539, 0.01562486],
       [1.13321989, 1.12707905, 1.11882701, 1.11710341, 0.01639909],
       [1.12254452, 1.11461056, 1.10988541, 1.12102878, 0.02794589],
       [1.12242617, 1.11733243, 1.11461251, 1.11843624, 0.02358888],
       [1.12798075, 1.12529895, 1.1220216 , 1.12651757, 0.01646694],
       [1.13568177, 1.1285875 , 1.12333726, 1.12207486, 0.01388618],
       [1.12409936, 1.11782233, 1.10596954, 1.12168116, 0.01709578],
       [1.12074741, 1.113436  , 1.10782324, 1.11672667, 0.01799965]])

In [71]:
X_test = []
y_test = []

for i in range(60, inputs.shape[0]):
    X_test.append(inputs[i-60:i])
    y_test.append(inputs[i, 0])

In [72]:
X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((58, 60, 5), (58,))

In [73]:
y_pred = model.predict(X_test)

In [74]:
scaler.scale_

array([5.63345301e-04, 5.56631737e-04, 5.63428151e-04, 5.62375381e-04,
       1.21162615e-08])

In [75]:
scale = 1/5.63345301e-04
scale

1775.110217880383

In [76]:
y_pred = y_pred*scale
y_test = y_test*scale

In [77]:
y_test

array([1708.13023692, 1675.59019794, 1653.22020296, 1690.65025693,
       1738.5701779 , 1736.6601439 , 1704.51024192, 1689.17015393,
       1704.21019293, 1688.78013893, 1702.84019793, 1782.05015888,
       1848.59019783, 1846.27025184, 1871.26024182, 1839.43016384,
       1833.12022684, 1794.53013887, 1796.76024187, 1804.16014386,
       1873.15025682, 2023.59019772, 2019.48009073, 2020.59019773,
       2056.5001097 , 2029.13023672, 2044.80015871, 2050.10020771,
       2040.84019771, 2054.9503047 , 2050.59019771, 2060.9800907 ,
       2069.86021769, 2017.59019773, 1975.60020775, 1992.42015374,
       2018.04014873, 2001.11021774, 2007.11021773, 2026.78013872,
       2017.80015873, 1973.96019275, 2023.71031472, 2051.72008071,
       2020.59019773, 2022.35020772, 2024.65025672, 2035.59019772,
       2012.89024673, 2029.58018772, 2026.62022672, 2011.59019773,
       1992.64024674, 1992.43016374, 2002.29014874, 2015.96031473,
       1995.40025674, 1989.45018275])